<form #loginForm="ngForm" (ngSubmit)="loginUser(loginForm)">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">User Name</label>
      <input type="text" ngModel name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">We'll never share your data with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" ngModel name="password" class="form-control" id="exampleInputPassword1">
    </div>
   
   <input type="submit" value="Submit">
  </form>