<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
  <a class="navbar-brand" href="#">API </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/profile" *ngIf="isLoggin" href="#">Profile <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/userlist" *ngIf="isLoggin" href="#">UserList</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login" *ngIf="isLoggin" href="#">LogOut</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" routerLink="/login" *ngIf="!isLoggin" href="#">Login</a>
      </li>

    </ul>
    <form class="form-inline my-2 my-lg-0 d-flex justify-content-right">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" name="search" #searchName aria-label="Search" [(ngModel)]="searchTerm" (input)="search(searchName.value)">
      <button class="btn btn-outline-success my-2 my-sm-0 " style="background-color: rgb(100, 87, 87);" type="submit">Search</button>
    </form>

  </div>
</nav>